body {
    height: 100%;
    margin: 0;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}   

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Script;
    src: url(fonts/script1-script-casual-normal.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Regular.otf);
}

.header-large h1 {
    font-family: DancingScript;
    font-size: 400%;
    margin: auto;
}

.header-large ul {
    list-style: none;
    display: flex;
}

.header-large li {
    padding: 20px;
    font-family: Roboto;
}

.header-buttons-active{
    background-color: rgba(0, 0, 0, 0.8);
    border: 5px solid white;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 15px 15px 15px;
    transition: background-color 0.5s ease, font-size 0.3s ease;
}

.header-buttons {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid white;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 15px 15px 15px;
    transition: background-color 0.5s ease, font-size 0.3s ease;
}


.header-buttons:hover, .header-buttons-active:hover{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    background-color: black;

}

.header-large {
    border: 2px solid #f7ee08;
    border-radius: 30px 30px 30px;
    margin: 1%;
    justify-content: right;
    display: flex;
    background-color: yellow;
    font-family: Roboto;
}

.paragraph-container {
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 20px 20px 20px;
    padding: 20px;
}

.paragraph {
    font-size: larger;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: Roboto;
}

.home-img {
    margin: auto;
    display: block;
    padding: 40px;
    border-radius: 90px;
}

footer {
    text-align: right;
    color: rgba(255, 255, 255, 0.425);
    font-weight: bolder;
    font-size: 20px;
    margin: 1.1%;
}


@media screen and (max-width: 450px) {
    body {
        background-image: none;
        background-color: rgb(32, 32, 32);
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .header-large {
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu{
        position:absolute;
        padding: 0;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .header-buttons-active{
        border: 0;
        border-radius: 0;
        background-color: transparent;
        font-weight:900;
        color: black;
    }
    .header-buttons{
        background-color: transparent;
        color: black;
        border: 0;
        border-radius: 0;
        padding: 20px;
        margin: 16px 10;
    }

    .navmenu.active{
        left: 0;
    }

    .home-img {
        justify-content: center;
        width: 350px;
        display: block;
        padding: 30px;
        border-radius: 90px;
    }

    .paragraph {
        font-size: 14px;
    }

    .paragraph-container {
        margin-top: 20px;
    }

    .youtube{
        padding-top: 20px;
        width: 100%;
        height: 250px;
    }

    iframe{
        display: block;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }

    .tematicka-cast {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .sekce p{
        padding: 2%;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .sekce {
        width: 100%;
        border: none !important;
    }
    
    .sekce img{
        padding: 0;
        max-width: 65% !important;
    }
}

@media screen and (min-width: 451px) and (max-width: 1050px) {
    body {
        background-image: none;
        background-color: rgb(32, 32, 32);
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .header-large {
        font-size: larger;
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu{
        position:absolute;
        padding: 0;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .header-buttons-active{
        border: 0;
        border-radius: 0;
        background-color: transparent;
        font-weight:900;
        color: black;
    }
    .header-buttons{
        background-color: transparent;
        color: black;
        border: 0;
        border-radius: 0;
        padding: 20px;
        margin: 16px 10;
    }

    .navmenu.active{
        left: 0;
    }

    .home-img {
        justify-content: center;
        width: 350px;
        display: block;
        padding: 30px;
        border-radius: 90px;
    }

    .paragraph {
        font-size: 18px;
    }

    .paragraph-container {
        margin-top: 20px;
    }

    .youtube{
        padding-top: 20px;
        height: 500px;
    }


    
}

@media screen and (min-width: 1125px) {
    .youtube{
        width: 55%;
        height: 700px;
    }
}

.gallery{
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px
}

.gallery img {
    border: 2px solid white;
    border-radius: 15px 15px 15px;
    width: 300px;

}

.gallery-text{
    color: white;
    text-align: center;
    font-family: Roboto;
}

.tematicka-cast {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
    justify-content: center;
  }
  
  .sekce {
    text-align: center;
    border: 3px solid white;
    border-radius: 20px 20px 20px;
    color: white;
    padding: 1%;
    font-family: Roboto;
  }
  
  .sekce img {
    border-radius: 20px 20px 20px;
    max-width: 500px;
    max-height: 350px;
  }

.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 50rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 10;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 100);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}


.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

form{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 20px;
}

iframe{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 500px;
}

.youtube{
    display: block;
    margin: 0 auto;
}